 html
 {
    background-color: #FCFFFF;
    color: #7F9CA1;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #A1DBE4; */
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #7F9CA1;
}

.introduction-section {
    display: block;
    margin: 20px 20px;
    padding: 10px 10px;
    border: 1px solid #000000;
}

.introduction-section img {

    height: 100px;
    width: 100px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: px;
}

.row {
    padding: 30px
}

.jumbotron {
    text-align: center;
}

#selfie {
    max-width: 200px;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
}