html {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

body {
    background-color: #FCFFFF;
    color: black;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #7F9CA1;
    transition: background-color 0.3s ease;
}

.introduction-section {
    display: block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.introduction-section img {
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease;
}

.introduction-section img:hover {
    transform: scale(1.1);
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 40px;
}

.row {
    padding: 30px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

#selfie, img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: solid 0.25px grey;
}

.dark-mode {
    background-color: #282827;
    color: #C0CACE;
}

@media (max-width: 768px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .parent {
        grid-template-columns: 1fr;
    }

    .jumbotron, .row {
        justify-content: center;
        align-items: center;
    }

    .contact {
        font-size: 18px;
    }

    .contact a {
        padding: 10px 20px;
        margin: 15px;
    }
}
