html {
<<<<<<< HEAD
  background-color: #FCFFFF;
  color: black;
=======
  background-color: #FFFFFF;
  color: #264165;
>>>>>>> 2c0bf6af1e3f50ff19033d91ea92ba403ce7a503
  font-family:Arial, Helvetica, sans-serif;
}

.code-color {
  background-color: black;
  color: lawngreen;
  font-family: serif;
}

h1 {
  background-color: grey;
}

table, th, td {
  border: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
<<<<<<< HEAD
  background-color: #D3E9ED;
=======
  background-color: #FFFFFF;
>>>>>>> 2c0bf6af1e3f50ff19033d91ea92ba403ce7a503
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #7F9CA1;
}

h1 {
  text-align: center;
}